<?xml version="1.0" encoding="utf-8"?>
<packages>
 <!--  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="portable45-net45+win8+wpa81" /> --> <!-- Use this version for UWP -->
 <package id="Newtonsoft.Json" version="6.0.4" targetFramework="portable45-net45+win8+wpa81" /> <!-- Use this version for Windows 10 IoT Core -->
</packages>